datasets/fake news detection(FakeNewsNet)/fnn_dev.csv
datasets/fake news detection(FakeNewsNet)/fnn_test.csv
datasets/fake news detection(FakeNewsNet)/fnn_train.csv
datasets/fake news detection(LIAR)/liar_dev.csv
datasets/fake news detection(LIAR)/liar_test.csv
datasets/fake news detection(LIAR)/liar_train.csv

# Web Application gitignore
web-app/.DS_Store
*node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pyc