
datasets/fake news detection(FakeNewsNet)/fnn_dev.csv
datasets/fake news detection(FakeNewsNet)/fnn_test.csv
datasets/fake news detection(FakeNewsNet)/fnn_train.csv
datasets/fake news detection(LIAR)/liar_dev.csv
datasets/fake news detection(LIAR)/liar_test.csv
datasets/fake news detection(LIAR)/liar_train.csv
