$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-black-haze: #EAEDED;

$color-blue-1: #6cbbf7;
$color-blue-2: #0095ff;
$color-blue-3: #0e65c9;

$color-sky-blue-1: #04befe;
$color-sky-blue-2: #4481eb;

$color-dark-blue-1: #0000CD;
$color-dark-blue-2: #00008B;

$color-white: #FFF;
$color-black: #000;