<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" type="image/svg" href="{{ url_for('static', filename='fav-icon.svg') }}">

    <title>Verity</title>
</head>
<body>
    <div class="navigation">
        
    </div>
    <header>
        <div class="header-grid">
            <div class="section-intro">
                <div class="section-intro__title">
                    Find the Misinformation
                </div>
                <div class="section-intro__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis consequuntur dignissimos explicabo sunt temporibus nemo expedita cumque ut eius voluptatum. A suscipit amet tempore! Optio aspernatur quibusdam sint minus cupiditate?
                </div>
            </div>
            <div class="section-demo">
                <!-- TODO: Add slideshow of the features -->
            </div>
        </div>
    </header>
    <main class="main">
        <form method="POST" class="form">
            <div class="form__grid">
                <label for="name" class="form__item form__label">Title <h4>(Optional)</h4></label>
                <input type="text" name="title" class="form__item form__input" id="name"></textarea>
                
                <label for="name" class="form__item form__label">Article</label>
                <textarea type="text" name="content" class="form__item form__text-area" id="name" required></textarea>
            </div>

            <button type="submit" class="form__button">Submit</button>
            
        </form>
    </main>

    <footer class="footer">

    </footer>

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>