.form {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

	transition: 1s ease-out;

    &__grid {
        display: grid;
        grid-template-columns: [line-1] 20rem [line-2] auto [line-3];
        grid-template-rows: auto auto;
        row-gap: 3.5rem;
        width: 100%;

        margin: 4rem 0;
    }

    &__item {

    }

    &__label {
        font-size: 1.8rem;
        font-weight: 700;
        
        margin-left: 2rem;
        margin-top: 1rem;
        display: inline-block;
        transition: all ease-out .4s;
    }

    &__input {
        padding: 0 1.6rem;
        box-sizing: border-box;
        border: 2px solid $color-grey-dark-2;
        border-radius: 4px;
        margin-right: 4rem;

		font-size: 1.6rem;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 400;
		color: $color-grey-dark-3;
        
        &:focus {
            border: 2px solid $color-black;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

		&::-webkit-input-placeholder {
            color: rgba($color-grey-dark-3, .9);
        }
    }

    &__text-area {
        height: 30rem;
        margin-right: 4rem;

        padding: 1.2rem 1.6rem;
        box-sizing: border-box;
        border: 2px solid $color-grey-dark-2;
        border-radius: 4px;
        resize: none;

		font-size: 1.6rem;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: 400;
        color: $color-grey-dark-3;
        background-color: $color-grey-light-1;
        transition: all ease-out .4s;

        &:focus {
            border: 2px solid $color-black;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &::-webkit-input-placeholder {
            color: rgba($color-grey-dark-3, .9);
        }
    }

    &__button {
        &,
        &:link,
        &:visited {
            background-color: $color-blue-3;
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 4px;
            transition: all .2s;
            position: relative;

            color: $color-grey-light-2;
            font-size: 1.6rem;

            //Change for the <button> element
            border: none;
            cursor: pointer;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }
    }
}