.main {
    background-color: $color-white;

    padding: 0rem 0rem 4rem 0rem;

	position: relative;
	width: 100%;
	min-height: 70vh;
	overflow: hidden;

	&:before {
		content: "";

		position: absolute;
		width: 200rem;
		height: 200rem;
		border-radius: 50%;
		background-image: linear-gradient(-45deg, $color-sky-blue-2, $color-sky-blue-2);

		top: -10%;
		right: 100%;
		transform: translateY(-50%);

		transition: 1.5s ease-in-out;
		z-index: 6;
	}

	&.result-mode {
		&::before {
			transform: translate(100%, -50%);
  			right: 0%;
		}

		& .result {
			opacity: 1;
  			z-index: 2;
		}

		& .form {
			opacity: 0;
			z-index: 1;
		}
	}
	

}

.navigation {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 7rem;
	padding: 0 1.2rem;
	background-image: linear-gradient(to right, $color-blue-3, $color-dark-blue-2);
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-around;

	height: 80vh;
	padding: 0 4rem;

	
	background-image: linear-gradient(to bottom right, $color-black-haze, $color-blue-1);

	@include respond(tab-port) {
		flex-direction: column;
		height: 160vh;
	}
}